@import '../../variables.css';

.root {
  display: flex;
}

.userMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.userMenu li {
  display: inline-block;
  float: left;
}

.userMenu li a {
  position: relative;
  display: block;
  margin-right: 10px;
  line-height: 5px;
}

.userMenu li a i {
  font-weight: 600;
}

.count {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 200;
  border-radius: 50%;
  background-color: #ff264d;
  line-height: 20px;
  text-align: center;
  left: -5px;
  top: -5px;
  border: 1px solid #fff;
}

.link {
  padding: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.link:hover {
  color: #fff;
}

.menu {
  position: relative;
}

:global(.ant-dropdown-menu::before) {
  content: '';
  position: absolute;
  left: 11px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.firstRow {
  display: flex;
}

.firstRow :global(.ant-avatar) {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin: 10px;
  align-self: center;
}

.userInfo {
  margin: 15px 0;
  align-self: center;
}

.userInfo b,
.userInfo a {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #000;
}

.userInfo a {
  color: #00b45a;
  padding: 0;
  margin: 0;
}

.secondRow {
  width: 240px;
  /*display: flex;*/
  text-align: left;
  justify-content: space-between;
  background: #f0f2f5;
  padding: 7px;
  border-top: 1px solid #e8e8e8;
}

.btn {
  font-size: 10px;
  padding: 5px 10px;
  height: 25px;
  line-height: 10px;
  color: #000;
  align-self: center;
}

.btn i {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.btn :global(.cp-logout) {
  font-size: 10px;
}

:global(.ant-dropdown) {
  top: 65px !important;
}

:global(.ant-badge-count) {
  top: -10px !important;
  background: #dc3545;
  color: #fff;
  margin: 0 1px;
  box-shadow: none;
  border: 1px solid #fff;
}

.messageList {
  padding: 0;
  margin: 0;
}

.notification {
  padding: 0 15px;
}

.notification :global(.ant-tabs-bar) {
  margin: 0 0 10px;
}

.message {
  display: flex;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  margin-bottom: 5px;
  transition: all 0.5s ease;
}

.message:hover {
  background: #f7f7f7;
}

.content {
  margin-right: 10px;
}

.content .name {
  font-size: 12px;
}

.content p {
  margin: 0;
  font-size: 11px;
  width: 220px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification :global(.ant-tabs:not(.ant-tabs-vertical)) > :global(.ant-tabs-content-animated) {
  display: block;
  padding: 0 5px 0 15px;
  margin: 10px 0;
  max-height: 200px;
  overflow-y: scroll;
}

.more {
  position: relative;
  display: block;
  margin: 5px auto;
  text-align: center;
  color: #00b45a;
  font-size: 12px;
}

.more::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25px;
  height: 50px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
