/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../variables.css';

@font-face {
  font-family: 'anticon';
  src: url('/fonts/font_alicdn.eot');
  src: url('/fonts/font_alicdn.woff') format('woff'),
    url('/fonts/font_alicdn.ttf') format('truetype'),
    url('/fonts/font_alicdn.svg#iconfont') format('svg');
}

/*
 * normalize.css is imported in JS file.
 * If you import external CSS file from your internal CSS
 * then it will be inlined and processed with CSS modules.
 */

/*
 * Base styles
 * ========================================================================== */

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

body {
  margin: 0;
  direction: rtl;
}

a {
  color: #0074c2;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.mainLogo {
  flex: 1;
  text-align: center;
}

.mainLogo .link {
  display: inline-block;
}

.vendorLogo {
  max-height: 50px;
  margin: 10px auto;
}

.layout :global(.ant-layout-sider-collapsed) .vendorLogo {
  display: none !important;
  visibility: hidden !important;
}

:global(.ant-layout-header) {
  display: flex;
  background-color: #1890ff;
  padding: 0 15px;
}

.loadingText {
  font-weight: bold;
  font-family: IRANSans !important;
  margin: -110px auto;
  text-align: center;
}

.loadingImage {
  margin: 0 auto;
  display: block;
}

.loadingBox {
  padding: 60px;
}

.rightNav {
  display: flex;
}

:global(.navItems) {
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  width: 35px;
  align-self: center;
  align-items: center;
  height: 30px;
  line-height: 40px;
}

:global(.ant-dropdown-placement-bottomRight) :global(.ant-dropdown-menu::before) {
  right: 11px;
  left: unset !important;
}

.header .trigger {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

:global(.cp-app) {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}

.tools {
  padding: 5px;
  margin: 0;
  list-style: none;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.tools li {
  width: 33%;
  text-align: center;
}

.tools li a {
  text-align: center;
  white-space: nowrap;
  display: block;
  padding: 10px 0;
  color: #666;
  transition: all ease 0.5s;
}

.tools li a:hover {
  color: #00b45a;
}

.tools li a i {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

:global(.hide) {
  display: none;
}

.shortKey {
  width: 33%;
}

.shortKey li {
  width: 100%;
}
