/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.css';

.backGround {
  background-color: #fff;
}

.root {
  padding-left: 20px;
  padding-right: 20px;
  margin: 25px;
  padding-top: 15px;
  background-color: #fff;
}

.container > div {
  margin: 15px;
  background-color: #fff;
  padding: 15px;
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsDesc
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
}

pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

.btnSetting {
  position: absolute;
  left: 0;
  top: 47%;
  color: #1890ff;
  font-size: 25px;
  background-color: #fff;
  padding-left: 15px;
}

:global(.widgetCard) {
  margin-bottom: 15px;
}

:global(.open-btn-drawer) {
  left: 190px !important;
  animation-name: openBtnDrawer;
  animation-duration: 1s;
}

:global(.close-btn-drawer) {
  animation-name: closeBtnDrawer;
  animation-duration: 1s;
}

@keyframes openBtnDrawer {
  0% { left: 0; }
  100% { left: 190px; }
}

@keyframes closeBtnDrawer {
  0% { left: 190px; }
  100% { left: 0; }
}
