:global {
  @import '/css/mainFlag.css';
}

.formWrapper {
  position: relative;
  text-align: center;
}

.errorMessage {
  color: #cf1322 !important;
  font-size: 12px !important;
}

.loginForm {
  width: 100%;
  margin: 70px auto 0;
  direction: rtl;
  align-self: center;
  position: relative;
  text-align: center;
  background: transparent;
  border-radius: 2px;
  padding: 20px;
}

.title {
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.formContainer {
  width: 100%;
  position: relative;
  border-radius: 3px;
}

.formWrapper :global(.mf-login) {
  left: 0;
  top: -45px;
  width: 50px;
  color: #fff;
  border: none;
  height: 50px;
  padding: 14px;
  font-size: 20px;
  position: absolute;
  background-color: #e91e63;
  border-radius: 50%;
  text-align: center;
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .loginForm {
    background: rgba(255, 255, 255, 0.48);
  }

  .formWrapper :global(.mf-login) {
    display: block;
    visibility: visible;
  }
}

.returnBtn:hover,
.returnBtn:focus {
  border: none;
  background-color: #e91e63;
}

.loginFields {
  padding: 30px 20px;
  text-align: center;
  background-color: #fff;
}

.loginBtn {
  color: #fff;
  width: 100%;
  height: 32px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #00a651;
}

.registerBtn {
  width: 100%;
  border: none;
  height: 32px;
  color: #00a651;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 2px;
  background-color: #fff;
}

.forgot {
  color: #8f8f8f;
  font-size: 12px;
  margin: 15px auto;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
}

.loginInput {
  height: 45px;
  font-size: 16px;
}

.circleBox {
  height: 1px;
  padding: 0;
  display: flex;
  margin: 25px 0;
  flex-wrap: wrap;
  text-align: center;
  background: #eee;
  justify-content: center;
}

.circleBox :global(.fa-angle-double-down) {
  width: 60px;
  height: 60px;
  padding: 16px;
  margin: 0 auto;
  color: #00a651;
  font-size: 30px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  display: inline-block;
}

.flagBox {
  direction: ltr;
  margin: 0 0 40px;
}

.flagBox .label {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #000;
}

.phoneTitle {
  margin: 5px 0;
  display: block;
  color: #afafaf;
  direction: rtl;
  font-size: 12px;
  text-align: right;
}

@media (min-width: 480px) {
  .formContainer {
    width: 350px;
  }

  .loginForm {
    width: 390px;
    padding: 20px;
  }
}
