@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

label {
  display: block;
}

.btnAnswer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.titleMessage {
  margin-top: 5px;
}

.bodyMessage {
  margin: 14px;
  display: inline-block;
}

.receiver {
  display: flex;
}

.receiver button {
  margin-right: 15px;
}
