:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 25px;
}

.userInfo :global(.form-radio),
.userInfo :global(.form-group) {
  margin: 20px 0 15px !important;
}

.userInfo :global(.ant-select-selection) {
  border: none;
  font-size: 13px;
  border-radius: 0;
  padding-right: 0;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 20px;
}

.userInfo :global(.ant-select) {
  margin-bottom: 15px;
}

.userInfo :global(.ant-select-selection-selected-value) {
  padding-right: 0 !important;
}

.userInfo :global(.ant-select-selection__rendered) {
  margin: 0 !important;
  font-size: 12px !important;
}

.dateOfBirth,
.label {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.userInfo :global(.ant-radio-wrapper) {
  margin-left: 0;
  margin-right: 15px;
}

.saveBtn {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
  margin-left: 3px;
}

.userImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
