@font-face {
  font-family: 'CPicons';
  src: url('/fonts/CPicons.eot?ipfqd6');
  src: url('/fonts/CPicons.eot?ipfqd6#iefix') format('embedded-opentype'), url('/fonts/CPicons.ttf?ipfqd6') format('truetype'), url('/fonts/CPicons.woff?ipfqd6') format('woff'), url('/fonts/CPicons.svg?ipfqd6#CPicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='cp-'],
[class*=' cp-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CPicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-info::before {
  content: '\e900';
}

.cp-bell::before {
  content: '\e901';
}

.cp-target::before {
  content: '\e902';
}

.cp-login::before {
  content: '\e903';
}
.cp-logout::before {
  content: '\e904';
}

.cp-picture::before {
  content: '\e905';
}

.cp-users::before {
  content: '\e906';
}

.cp-locked::before {
  content: '\e907';
}

.cp-paper::before {
  content: '\e908';
}

.cp-catalog::before {
  content: '\e909';
}

.cp-menu::before {
  content: '\e90a';
}

.cp-double-up::before {
  content: '\e90b';
}

.cp-arrow-up::before {
  content: '\e90c';
}

.cp-arrow-left::before {
  content: '\e90d';
}

.cp-double-left::before {
  content: '\e90e';
}

.cp-arrow-right::before {
  content: '\e90f';
}

.cp-tags::before {
  content: '\e910';
}

.cp-shop::before {
  content: '\e911';
}

.cp-angle-left::before {
  content: '\e912';
}

.cp-angle-up::before {
  content: '\e913';
}

.cp-redoLeft::before {
  content: '\e914';
}

.cp-double-right::before {
  content: '\e915';
}

.cp-double-down::before {
  content: '\e916';
}

.cp-angle-right::before {
  content: '\e917';
}

.cp-angle-down::before {
  content: '\e918';
}

.cp-forbidden::before {
  content: '\e919';
}

.cp-more::before {
  content: '\e91a';
}

.cp-minimize::before {
  content: '\e91b';
}

.cp-power::before {
  content: '\e91c';
}

.cp-maximize2::before {
  content: '\e91d';
}

.cp-shapes2::before {
  content: '\e91f';
}

.cp-line::before {
  content: '\e921';
}

.cp-dot::before {
  content: '\e922';
}

.cp-trash::before {
  content: '\e923';
}

.cp-close::before {
  content: '\e924';
}

.cp-add::before {
  content: '\e925';
}

.cp-gps::before {
  content: '\e926';
}

.cp-file::before {
  content: '\e927';
}

.cp-time::before {
  content: '\e928';
}

.cp-user::before {
  content: '\e929';
}

.cp-settings::before {
  content: '\e92a';
}

.cp-flower::before {
  content: '\e940';
}

.cp-edit::before {
  content: '\e92b';
}

.cp-plus::before {
  content: '\e92c';
}

.cp-error::before {
  content: '\e92d';
}

.cp-search::before {
  content: '\e92f';
}

.cp-lock::before {
  content: '\e931';
}

.cp-maximize::before {
  content: '\e932';
}

.cp-upload::before {
  content: '\e933';
}

.cp-refresh::before {
  content: '\e934';
}

.cp-percent::before {
  content: '\e935';
}

.cp-stat::before {
  content: '\e936';
}

.cp-check::before {
  content: '\e937';
}

.cp-product::before {
  content: '\e938';
}

.cp-save::before {
  content: '\e939';
}

.cp-continue::before {
  content: '\e93a';
}

.cp-mobile::before {
  content: '\e93b';
}

.cp-cellphone::before {
  content: '\e93c';
}

.cp-danger::before {
  content: '\e93d';
}

.cp-question::before {
  content: '\e93f';
}

.cp-signs::before {
  content: '\e941';
}

.cp-folder::before {
  content: '\e942';
}

.cp-multimedia::before {
  content: '\e943';
}

.cp-attach::before {
  content: '\e944';
}

.cp-link::before {
  content: '\e945';
}

.cp-calendar::before {
  content: '\e946';
}

.cp-favorite::before {
  content: '\e947';
}

.cp-app::before {
  content: '\e91e';
}

.cp-list::before {
  content: '\e920';
}

.cp-percentage::before {
  content: '\e92e';
}

.cp-file2::before {
  content: '\e930';
}

.cp-business::before {
  content: '\e93e';
}

.cp-cancel-circle::before {
  content: '\e924';
}

.cp-bouquet::before {
  content: '\e948';
}

.cp-receipt::before {
  content: '\e949';
}

/****************** ant-icons *********************/

i.anticon::before {
  font-family: 'CPicons' !important;
}

i.anticon-search {
  font-size: 16px !important;
  font-weight: 600 !important;
  display: block !important;
}

.anticon-search::before {
  content: '\e92f' !important;
  font-family: 'CPicons' !important;
}

.ant-pagination-next .ant-pagination-item-link::after {
  content: '\e912' !important;
  font-family: 'CPicons' !important;
  color: #333 !important;
}

.ant-pagination-prev .ant-pagination-item-link::after {
  content: '\e917' !important;
  font-family: 'CPicons' !important;
  color: #333 !important;
}

i.anticon-save::before {
  content: '\e939';
  font-family: 'CPicons' !important;
}

i.anticon-close-circle-o::before {
  content: '\e92d';
  font-family: 'CPicons' !important;
}

i.anticon-form::before {
  content: '\e93a';
  font-family: 'CPicons' !important;
}

span.ant-modal-close-x::before {
  content: '\e924';
  font-family: 'CPicons' !important;
  font-size: 8px;
}


i.anticon-user::before {
  content: '\e93b';
  font-family: 'CPicons' !important;
  color: #fff;
  font-size: 16px;
}

i.anticon-lock::before {
  content: '\e905';
  font-family: 'CPicons' !important;
  color: #fff;
  font-size: 16px;
}

i.anticon-check-circle::before {
  content: '\e937';
  font-size: 8px !important;
  border: 1px solid !important;
  border-radius: 500rem !important;
  padding: 2px !important;
  font-weight: 600 !important;
}

i.anticon-cross-circle-o::before {
  content: '\e92d';
  font-family: 'CPicons' !important;
  position: absolute;
  left: 0;
}

i.anticon-info-circle::before {
  content: '\e940';
  font-family: 'CPicons' !important;
}

i.anticon-exclamation-circle::before {
  content: '\e93d';
  font-family: 'CPicons' !important;
}

i.anticon-cross::before {
  content: '\e924';
  font-family: 'CPicons' !important;
}

i.anticon-poweroff::before {
  content: '\e91c';
  font-family: 'CPicons' !important;
}

i.anticon-upload::before,
i.anticon-inbox::before {
  content: '\e933';
  font-family: 'CPicons' !important;
}

i.anticon-paper-clip::before {
  content: '\e944';
  font-family: 'CPicons' !important;
}

i.anticon-loading::before {
  content: '\e934';
  font-family: 'CPicons' !important;
  color: #1890ff;
}

.anticon-star::before {
  content: '\e947' !important;
  font-size: 12px;
  font-weight: 600;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header i.arrow::before {
  content: '\e917' !important;
  font-family: 'CPicons' !important;
  font-size: 12px;
  font-weight: 600;
}
