@font-face {
  font-family: IRANSans;
  src: url('/fonts/iransansweb.eot') format('eot'), url('/fonts/iransansweb.woff') format('woff'), url('/fonts/iransansweb.ttf') format('truetype'), url('/fonts/iransansweb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: IRANSans !important;
  background: #fff none repeat scroll 0 0 !important;
}

#app a:focus {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: IRANSans !important;
}

label {
  font-size: 13px;
  margin-bottom: 3px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.google-map {
  width: 100%;
  height: 245px;
}

.ant-card-head-title {
  font-size: 18px;
  font-weight: bold;
}

.ltr {
  direction: ltr !important;
}

#app .has-success.has-feedback::after,
#app .has-warning.has-feedback::after,
#app .has-error.has-feedback::after,
#app .is-validating.has-feedback::after {
  position: absolute;
  top: 0;
  left: -30px;
  right: auto;
}

.ltr-form .ant-form-item-control-wrapper,
.ltr-form .ant-input-group-wrapper {
  direction: ltr !important;
}

.ant-form-explain {
  direction: rtl;
}

.ant-form-item-required::before {
  margin-right: 0 !important;
  margin-left: 4px !important;
}

.ant-card,
.ant-form,
.ant-input,
.ant-checkbox-wrapper,
.ant-form-item,
.ant-btn {
  font-family: IRANSans !important;
}

.ant-col-xs-1,
.ant-col-xs-2,
.ant-col-xs-3,
.ant-col-xs-4,
.ant-col-xs-5,
.ant-col-xs-6,
.ant-col-xs-7,
.ant-col-xs-8,
.ant-col-xs-9,
.ant-col-xs-10,
.ant-col-xs-11,
.ant-col-xs-12,
.ant-col-xs-13,
.ant-col-xs-14,
.ant-col-xs-15,
.ant-col-xs-16,
.ant-col-xs-17,
.ant-col-xs-18,
.ant-col-xs-19,
.ant-col-xs-20,
.ant-col-xs-21,
.ant-col-xs-22,
.ant-col-xs-23,
.ant-col-xs-24 {
  float: right !important;
}

@media (min-width: 576px) {
  .ant-col-sm-1,
  .ant-col-sm-2,
  .ant-col-sm-3,
  .ant-col-sm-4,
  .ant-col-sm-5,
  .ant-col-sm-6,
  .ant-col-sm-7,
  .ant-col-sm-8,
  .ant-col-sm-9,
  .ant-col-sm-10,
  .ant-col-sm-11,
  .ant-col-sm-12,
  .ant-col-sm-13,
  .ant-col-sm-14,
  .ant-col-sm-15,
  .ant-col-sm-16,
  .ant-col-sm-17,
  .ant-col-sm-18,
  .ant-col-sm-19,
  .ant-col-sm-20,
  .ant-col-sm-21,
  .ant-col-sm-22,
  .ant-col-sm-23,
  .ant-col-sm-24 {
    float: right !important;
  }
}

#app .ant-form-item-control > * {
  font-size: 12px;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editAction {
  margin: 0 20px;
  display: inline-block;
}

.searchFildes {
  flex: 1;
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

.searchBox .gutter-box {
  margin-bottom: 5px;
}

.searchBox .ant-btn-primary {
  background-color: #00b45a;
  border-color: #00b45a;
}

@media (max-width: 992px) {
  .searchBox {
    display: block;
    align-items: unset;
    justify-content: unset;
  }
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

#app .ant-tree li ul {
  padding: 0 18px 0 0;
}

/**
tree category style
 */
#app .ant-tree.ant-tree-show-line li:not(:last-child)::before {
  right: 12px;
  left: unset;
}

#app .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  background: #f0f2f5;
}

/**
tree select component
 */
.ant-select-tree li ul {
  margin: 0;
  padding: 0 18px 0 0 !important;
}

.delete_action,
.edit_action {
  font-size: 18px !important;
  width: 30px;
  height: 30px !important;
  vertical-align: middle !important;
  margin: 0 10px !important;
  display: inline-block !important;
  text-align: center !important;
  border-radius: 500rem !important;
  padding: 5px !important;
  border: none !important;
  transition: all ease 0.5s !important;
}

.delete_action {
  color: #f81d22 !important;
}

.edit_action {
  color: #00b45a !important;
}

.edit_action:hover,
.delete_action:hover {
  color: #595959 !important;
  background-color: #e9e9e9 !important;
}

.align-center {
  display: flex;
  height: 54px;
}

.align-margin {
  margin: 10px 0;
}

.text-left {
  text-align: left;
}

.searchBox .row,
.ant-modal-body .row {
  margin-bottom: 5px;
}

.tabContent .row,
.modalContent .row {
  margin-bottom: 7px;
}

.textLeft {
  text-align: left;
}

.ant-rate-star {
  margin-left: 8px !important;
  margin-right: 0 !important;
}

.ant-rate {
  color: #1890ff !important;
}

.ant-rate-star-first,
.ant-rate-star-second {
  right: 0;
  left: unset !important;
}

.tether-enabled {
  z-index: 1000 !important;
}

.calendarContainer {
  font-family: IRANSans !important;
  border-radius: 3px;
  box-shadow: none !important;
  border: 1px solid #ccc;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

input:-moz-placeholder {
  color: #ccc !important;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

.pendingOrder {
  background-color: #fef6eb;
}

.errorOrder {
  background-color: #fcf141;
}

.completeOrder {
  background-color: #9c9;
}

.confirmedOrder {
  background-color: #9cf;
}

.bankPendingOrder {
  background-color: #beb9b5;
}

.bankErrorOrder {
  background-color: #c25b56;
}

.cancelByPay {
  background-color: #fff;
  border: 1px solid;
}

.rowHasNew {
  background-color: #e2e3e5;
  font-weight: bold;
}

.ant-notification-notice-close {
  left: 22px !important;
  right: auto !important;
}

.ant-notification-notice-close .ant-notification-notice-close-x::after {
  font-size: 8px !important;
  font-weight: 600 !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-left: 0 !important;
  margin-right: 24px !important;
  padding: 0 !important;
  font-weight: 600;
}

.ant-notification-notice-icon {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
  margin-left: 3px;
}

.ant-tabs-tabpane-active .row {
  margin-right: -14px;
}

li.ant-select-tree-treenode-disabled>.ant-select-tree-node-content-wrapper, li.ant-select-tree-treenode-disabled>.ant-select-tree-node-content-wrapper span, li.ant-select-tree-treenode-disabled>span:not(.ant-select-tree-switcher) {
  color: rgba(0, 0, 0, 0.5) !important;
}

:root {
  /*
 * Typography
 * ======================================================================== */
  --RegularSans: RegularSans;
  --BlackSans: BlackSans;
  --BoldSans: BoldSans;
  --LightSans: LightSans;
  --MediumSans: MediumSans;
  --UltraLightSans: UltraLightSans;
  --black: #000;
  --gray: #f9f9f9;
  --pink: #ff5c77;
  --blue: #1a73e8;
  --green: #0dd169;
}
