@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

:global(.hide) {
  display: none;
  visibility: hidden;
}

:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

.colorSwitch {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  line-height: 15px;
  margin: 3px 0 3px 7px !important;
  text-align: center;
  user-select: none;
  position: relative;
  transition: transform 0.35s;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  cursor: pointer;
  overflow: hidden;
}

:global(.colorCode) {
  display: inline-flex;
}

:global(.colorCode) label:last-child {
  margin-top: 6px;
}

:global(.attributeSearch) {
  display: inline-flex;
  padding: 1px;
  top: -13px;
}

:global(.attributeSearch button) {
  margin-right: 3px;
}
