:global(.accountWizard) {
  width: 100%;
  align-self: center;
}

:global(.showLogin) {
  opacity: 0;
  visibility: hidden;
  display: none;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:global(.hiddenRegister),
:global(.hiddenConfirmation) {
  opacity: 0;
  visibility: hidden;
  display: none;
}

:global(.showRegister) {
  opacity: 1;
  visibility: visible;
  display: block;
  animation-name: fadeInnOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInnOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:global(.showConfirmation) {
  opacity: 1;
  visibility: visible;
  display: block;
  animation-name: fadeInnOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInnOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


:global(.accountWizard) :global(.form-radio),
:global(.accountWizard) :global(.form-group) {
  position: relative;
  margin: 0 0 15px;
}

:global(.accountWizard) :global(.form-inline .form-group),
:global(.accountWizard) :global(.form-inline .btn) {
  display: inline-block;
  margin-bottom: 0;
}

:global(.accountWizard) :global(.form-help) {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

:global(.accountWizard) :global(.checkbox .form-help),
:global(.accountWizard) :global(.form-radio .form-help),
:global(.accountWizard) :global(.form-group .form-help) {
  position: absolute;
  width: 100%;
}

:global(.accountWizard) :global(.checkbox .form-help) {
  position: relative;
  margin-bottom: 1rem;
}

:global(.accountWizard) :global(.form-radio .form-help) {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

:global(.accountWizard) :global(.form-group) input {
  height: 1.9rem;
}

:global(.accountWizard) :global(.form-group) textarea {
  resize: none;
}

:global(.accountWizard) :global(.form-group) select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:global(.accountWizard) :global(.form-group) :global(.control-label) {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3 !important;
  font-size: 12px !important;
  font-weight: normal;
  transition: all 0.28s ease;
  right: 0;
}

:global(.accountWizard) :global(.form-group) :global(.bar) {
  position: relative;
  border-bottom: 0.0625rem solid #ddd;
  display: block;
}

:global(.accountWizard) :global(.form-group) :global(.bar::before) {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #e91e63;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

:global(.accountWizard) :global(.form-group) :global(.bar_isValid) {
  position: relative;
  border-bottom: 0.0625rem solid #00a94d;
  display: block;
}

:global(.accountWizard) :global(.form-group) :global(.bar_noValid) {
  position: relative;
  border-bottom: 0.0625rem solid #e91e63;
  display: block;
}

:global(.accountWizard) :global(.form-group) input,
:global(.accountWizard) :global(.form-group) textarea {
  display: block;
  text-align: right;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: none;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
}

:global(.accountWizard) :global(.form-group) input[type='file'] {
  line-height: 1;
}

:global(.accountWizard) :global(.form-group) input[type='file'] ~ :global(.bar) {
  display: none;
}

:global(.accountWizard) :global(.form-group) select,
:global(.accountWizard) :global(.form-group) input:focus,
:global(.accountWizard) :global(.form-group) input:valid,
:global(.accountWizard) :global(.form-group) input:global(.form-file),
:global(.accountWizard) :global(.form-group) input:global(.has-value),
:global(.accountWizard) :global(.form-group) textarea:focus,
:global(.accountWizard) :global(.form-group) textarea:valid,
:global(.accountWizard) :global(.form-group) textarea:global(.form-file),
:global(.accountWizard) :global(.form-group) textarea:global(.has-value) {
  color: #333;
}

:global(.accountWizard) :global(.form-group) select ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) input:focus ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) input:valid ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) input:global(.form-file) ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) input:global(.has-value) ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) textarea:focus ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) textarea:valid ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) textarea:global(.form-file) ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) textarea:global(.has-value) ~ :global(.control-label) {
  font-size: 12px;
  color: gray;
  top: -1rem;
  right: 0;
}

:global(.accountWizard) :global(.form-group) select:focus,
:global(.accountWizard) :global(.form-group) input:focus,
:global(.accountWizard) :global(.form-group) textarea:focus {
  outline: none;
}

:global(.accountWizard) :global(.form-group) select:focus ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) input:focus ~ :global(.control-label),
:global(.accountWizard) :global(.form-group) textarea:focus ~ :global(.control-label) {
  color: #e91e63 !important;
}

:global(.accountWizard) :global(.form-group) select:focus ~ :global(.bar::before),
:global(.accountWizard) :global(.form-group) input:focus ~ :global(.bar::before),
:global(.accountWizard) :global(.form-group) textarea:focus ~ :global(.bar::before) {
  width: 100%;
  left: 0;
}
