@import '../../variables.css';

:global(.slick-list) {
  direction: ltr;
}

:global(.slick-thumb) {
  position: relative;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  text-align: right;
  bottom: -5px;
}

:global(.slick-dots li) {
  width: unset !important;
  height: unset !important;
  margin: 0 0 0 5px;
  border: 1px solid transparent;
}

:global(.slick-dots li.slick-active) {
  border: 1px solid #ddd;
}

:global(.img-thumb) {
  width: 100px;
}

:global(.slick-next),
:global(.slick-prev) {
  top: 35% !important;
}

:global(.slick-prev::before) {
  content: '\e912' !important;
}

:global(.slick-next::before),
:global([dir=rtl] .slick-prev::before) {
  content: '\e917' !important;
}

:global(.slick-prev::before),
:global(.slick-next::before),
:global([dir=rtl] .slick-prev::before) {
  font-family: 'CPicons';
  color: #555;
  font-weight: 600;
  font-size: 12px;
}

:global(.perimeter) {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

:global(.image) {
  flex: 0 0 100%;
}

:global(.copy) {
  padding: 20px;
  font-family: sans-serif;
}

@media (min-width: 415px) {
  :global(.perimeter) {
    flex-direction: row;
  }

  :global(.image) {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  :global(.image) {
    flex: 0 0 33.5%;
  }
}

