@import '../../../variables.css';

.searchFildes {
  flex: 1;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

.modalContent {
  padding: 0 15px;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

:global(.selectCategory) {
  display: inline-flex;
  padding: 1px;
  top: -13px;
}

:global(.selectCategory button) {
  margin-right: 3px;
}

div > :global(.JDatePicker) {
  position: absolute !important;
}
