@import '../../variables.css';

.sidebar :global(.ant-menu-item) {
  font-size: 13px;
}

.sidebar :global(.ant-menu-item) :global(.anticon) {
  font-size: 8px;
  vertical-align: baseline;
}

.sidebar :global(ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline) {
  height: 100%;
}

.sidebar :global(.toggleBtn) {
  position: absolute !important;
  left: -50px !important;
  top: 15px !important;
  background: transparent !important;
  border: none !important;
  color: #fff !important;
  margin: 0 !important;
  font-size: 20px !important;
  z-index: 1000 !important;
}

.sidebar :global(.ant-btn:hover),
.sidebar :global(.ant-btn:focus),
.sidebar :global(.ant-btn:active),
.sidebar :global(.ant-btn.active) {
  background-color: transparent !important;
}

.sidebar :global(.ant-btn:hover),
.sidebar :global(.ant-btn:focus) {
  color: #fff !important;
  border: none !important;
}

.sidebar i {
  margin-left: 10px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  color: #1890ff;
}
