:global {
  @import '/css/mainFlag.css';
}

.formWrapper {
  position: relative;
  text-align: center;
  margin: 0 15px;
}

.loginForm {
  width: 100%;
  margin: 0 auto;
  direction: rtl;
  align-self: center;
  position: relative;
  text-align: center;
  background: transparent;
  border-radius: 2px;
  padding: 20px;
}

.title {
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.formContainer {
  width: 100%;
  position: relative;
  border-radius: 3px;
}

.formWrapper :global(.mf-mobile) {
  left: 0;
  top: -45px;
  width: 50px;
  color: #fff;
  border: none;
  height: 50px;
  padding: 14px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  background-color: #e91e63;
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .loginForm {
    background: rgba(255, 255, 255, 0.48);
  }

  .formWrapper :global(.mf-mobile) {
    display: block;
    visibility: visible;
  }
}

.confirmationInputs {
  display: flex;
  justify-content: space-between;
}

.confirmationInput {
  width: 21%;
  text-align: center;
}

.confirmationFields,
.reminder {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.reminder {
  border-top: 1px solid #e8e8e8;
}

.reminder .label {
  color: #666;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.reminder .label b {
  color: red;
  width: 48px;
  height: 22px;
  font-size: 14px;
  display: inline-block;
}

.confirmationBtn {
  width: 100%;
  color: #fff;
  height: 32px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #00a651;
}

.resendBtn {
  width: 100%;
  color: #fff;
  border: none;
  height: 32px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #ccc;
}

.forgot {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
}

.confirmationInput {
  height: 45px;
  font-size: 24px !important;
  text-align: center !important;
}

.circleBox {
  height: 1px;
  padding: 0;
  display: flex;
  margin: 25px 0;
  flex-wrap: wrap;
  background: #eee;
  text-align: center;
  justify-content: center;
}

.circleBox :global(.fa-angle-double-down) {
  width: 60px;
  height: 60px;
  padding: 16px;
  color: #00a651;
  margin: 0 auto;
  font-size: 30px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  display: inline-block;
}

.flagBox {
  direction: ltr;
  margin: 0 0 40px;
}

.phoneTitle {
  margin: 5px 0;
  direction: rtl;
  display: block;
  color: #afafaf;
  font-size: 12px;
  text-align: right;
}

.label {
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
}

@media (min-width: 480px) {
  .loginForm {
    width: 390px;
    padding: 20px;
  }

  .formContainer {
    width: 350px;
  }
}
