:global { @import '/css/mainFlag.css'; }

.formWrapper {
  position: relative;
  text-align: center;
}

.loginForm {
  width: 100%;
  margin: 0 auto;
  direction: rtl;
  align-self: center;
  text-align: center;
  position: relative;
  background: transparent;
  border-radius: 2px;
  padding: 20px;
}

.formWrapper :global(.form-radio),
.formWrapper :global(.form-group) {
  margin-bottom: 15px !important;
}

.registerInputs :global(.ant-select-selection) {
  border: none;
  font-size: 13px;
  border-radius: 0;
  padding-right: 0;
  border-bottom: 1px solid #d9d9d9;
}

.registerInputs :global(.ant-select) {
  margin-bottom: 15px;
}

.registerInputs :global(.ant-select-selection-selected-value) {
  padding-right: 0 !important;
}

.registerInputs :global(.ant-select-selection__rendered) {
  margin: 0 !important;
  font-size: 12px !important;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}


.sexual :global(.ant-radio-wrapper) {
  color: #000;
  font-size: 12px !important;
  margin-left: 20px !important;
}

.sexual :global(.ant-radio-inner::after) {
  top: 2px;
  left: 2px;
}

.sexual :global(.ant-radio-focused .ant-radio-inner),
.sexual :global(.ant-radio:hover .ant-radio-inner),
.sexual :global(.ant-radio-wrapper:hover .ant-radio .ant-radio-inner) {
  border-color: #1890ff !important;
}

.sexual :global(.ant-radio-checked::after),
.sexual :global(.ant-radio-checked .ant-radio-inner) {
  border: 2px solid #000 !important;
}

.sexual :global(.ant-radio-inner::after) {
  background-color: #000 !important;
}

.flexWrap {
  display: flex;
  justify-content: space-between;
}

.flexWrap :global(.form-group) {
  margin: 0 15px 15px 0 !important;
}

.title {
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.formContainer {
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.formWrapper :global(.mf-user) {
  left: 0;
  top: -45px;
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  padding: 14px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background-color: #e91e63;
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .loginForm {
    background: rgba(255, 255, 255, 0.48);
  }

  .formWrapper :global(.mf-user) {
    display: block;
    visibility: visible;
  }
}

.returnBtn:hover,
.returnBtn:focus {
  border: none;
  background-color: #e91e63;
}

.registerInputs {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.loginBtn {
  color: #fff;
  width: 100%;
  border: none;
  height: 32px;
  margin-top: 0;
  font-size: 14px;
  border-radius: 2px;
  background-color: #00a651;
}

.registerBtn {
  width: 100%;
  height: 32px;
  border: none;
  color: #00a651;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #fff;
}

.forgot {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
}

.registerInput {
  height: 32px;
  font-size: 16px;
}

.circleBox {
  height: 1px;
  padding: 0;
  display: flex;
  margin: 25px 0;
  flex-wrap: wrap;
  background: #eee;
  text-align: center;
  justify-content: center;
}

.circleBox :global(.fa-angle-double-down) {
  width: 60px;
  height: 60px;
  padding: 16px;
  margin: 0 auto;
  color: #00a651;
  font-size: 30px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  display: inline-block;
}

.flagBox {
  direction: ltr;
  margin: 0 0 20px;
}

.phoneTitle {
  margin: 5px 0;
  direction: rtl;
  display: block;
  color: #afafaf;
  font-size: 12px;
  text-align: right;
}

.sexual {
  text-align: right;
  margin-bottom: 15px;
}

.city {
  margin-bottom: 0;
  text-align: right;
}

.sexual b {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-left: 15px;
  text-align: right;
  display: inline-block;
}

.captcha {
  display: flex;
  justify-content: center;
}

.label {
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
}

.errorMessage {
  color: #cf1322 !important;
  font-size: 12px !important;
}

@media (min-width: 480px) {
  .formContainer {
    width: 350px;
  }

  .loginForm {
    width: 390px;
    padding: 20px;
  }
}

.buttons {
  display: flex;
}

.buttons button:first-child {
  margin-left: 5px;
}
