:global {
  @import '/css/mainFlag.css';
}

.advancedSearch :global(.ant-card-bordered) {
  box-shadow: none !important;
  padding: 15px;
  border: 1px solid #eee !important;
  background-color: #fafafa;
}

.advancedSearch :global(.ant-card-head) {
  padding: 0;
  min-height: 35px;
}

.advancedSearch :global(.ant-card-head-title) {
  font-size: 16px;
  padding: 5px 0;
  color: #1890ff;
}

.advancedSearch :global(.intl-tel-input) {
  border: 1px solid #d9d9d9;
  background: #fff;
}
