@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

:global(.hide) {
  display: none;
  visibility: hidden;
}

:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;

  /*background: #CCC;*/
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}
