
@media (min-width: 768px) {
  :global(.tagWrapper) {
    padding: 15px 0;
    margin: 15px 0;
  }
}

:global(.tagLabel) {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
  color: #b7b7b7;
}

:global(.ant-tag) {
  padding: 0 4px;
  background: #fff;
  font-size: 14px;
  margin-right: 0;
  margin-left: 5px;
  border: none;
  color: #363636;
}

.errorMessage {
  color: #cf1322;
  font-size: 12px;
}
