
@import '../../../variables.css';

.root :global(.ant-tabs) {
  overflow: visible;
}

.textLeft {
  text-align: right;
  margin-right: 4px;
}

.searchFildes {
  flex: 1;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

.btnView {
  margin-left: 5px;
}
@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

:global(.attributeSearch) {
  display: inline-flex;
  padding: 1px;
  top: -13px;
}

:global(.attributeSearch button) {
  margin-right: 3px;
}
