@import '../../../../components/variables.css';
:global { @import '/css/mainFlag.css'; }

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

:global(.eventForm) > div {
  margin-top: 6px;
}

.comboBox > div,
.inputName {
  border: unset;
  border-bottom: 1px solid #d9d9d9;
  border-radius: unset;
}

.inputName {
  top: 1px !important;
}

.inputName:hover {
  border-bottom-color: #1890ff !important;
}
