
@import '../../../variables.css';

.root :global(.ant-tabs) {
  overflow: visible;
}

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

.searchBox :global(.gutter-box) {
  margin-bottom: 5px;
}

.searchBox :global(.ant-btn-primary) {
  background-color: #00b45a;
  border-color: #00b45a;
}
