
@import '../../../variables.css';

.root :global(.ant-tabs) {
  overflow: visible;
}

.right,
.left {
  width: 100%;
}

@media (min-width: 768px) {
  .right,
  .left {
    width: 50%;
  }
}

.img {
  max-height: 200px;
  float: left;
  border: 1px solid #e8e8e8;
}

.centerCarousel {
  margin-right: 10%;
}

.textLeft {
  text-align: left;
}

.saveButton {
  direction: ltr;
  margin-top: 7px;
}

.productName {
  cursor: pointer;
}

:global(.attributeDiv) {
  margin-bottom: 10px;
}

:global(.hide) {
  display: none !important;
}
