@import '../../variables.css';

.root {
  background: var(--white);
  background: #fff none repeat scroll 0 0;
  background-color: #1890ff;
}

.container {
  margin: 0 auto;
  padding: 5px 15px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
