@import '../../../variables.css';

.modalContent {
  padding: 0 15px;
}

.btnSearch {
  margin-top: 18px;
}

.detailProduct {
  line-height: 2em;
  display: inline;
}

.btnSubmit {
  margin: 0 auto;
}

.error {
  color: #cf1322 !important;
}
