:global(.slick-list) {
  direction: ltr;
}

:global(.perimeter) {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

:global(.image) {
  flex: 0 0 100%;
}

:global(.copy) {
  padding: 20px;
  font-family: sans-serif;
}

:global(.slick-thumb) {
  direction: rtl;
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  bottom: 0;
  margin-top: 3px;
}

@media (min-width: 768px) {
  :global(.slick-thumb) {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;
    bottom: 0;
  }
}

:global(.slick-thumb li) {
  width: unset !important;
  height: unset !important;
  margin: 0 10px 0 0;
}

:global(.slick-thumb li:first-child) {
  margin: 0 !important;
}

:global(.img-thumb) {
  width: 106px;
}

@media (min-width: 992px) {
  :global(.img-thumb) {
    width: 120px;
  }
}

@media (min-width: 1366px) {
  :global(.img-thumb) {
    width: 153px;
  }
}

:global(.slick-thumb li.slick-active .img-thumb) {
  border: 2px solid var(--pink);
}

:global(.slick-dots li button::before) {
  font-size: 10px;
  color: #b1b1b1;
}

:global(.slick-dots li.slick-active button::before) {
  color: var(--pink);
}

:global(.slick-next),
:global(.slick-prev) {
  top: 50% !important;
}

:global(.slick-prev::before) {
  content: '\e931' !important;
}

:global(.slick-next::before),
:global([dir=rtl] .slick-prev::before) {
  content: '\e93c' !important;
}

:global(.slick-prev::before),
:global(.slick-next::before),
:global([dir=rtl] .slick-prev::before) {
  font-family: motherFlower;
  color: #bababa;
  opacity: 1 !important;
  font-size: 10px;
  padding: 0;
  line-height: 19px;
}

@media (min-width: 415px) {
  :global(.perimeter) {
    flex-direction: row;
  }

  :global(.image) {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  :global(.image) {
    flex: 0 0 33.5%;
  }
}

