:global {
  @import '/css/mainFlag.css';
}

.tabContent {
  padding: 10px 0;
}

.tabContent :global(.row) {
  margin-bottom: 7px;
}

.textLeft {
  text-align: right;
  margin-right: 4px;
}

.button {
  align-self: flex-end;
  margin-left: 3px;
}

.errorMessage {
  color: #cf1322 !important;
  font-size: 12px !important;
}

:global(.modalBody) {
  margin: 15px;
}

.wallet {
  margin-right: 5px;
}
