@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

:global(.modalBody) {
  margin: 15px;
}

.fullName {
  margin-left: 10px;
}

:global(.userName) {
  color: #000 !important;
}
