@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

:global(.hide) {
  display: none;
  visibility: hidden;
}

:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;

  /*background: #CCC;*/
}

label {
  display: block;
}

.field {
  width: 40px;
  margin: 0 25px 0 0;
  align-self: flex-end;
}

.productPrice {
  display: flex;
}

.productPrice label,
.productPrice del {
  margin-left: 5px;
  opacity: 0.65;
  font-size: 14px !important;
}

.productPrice label:last-child {
  color: green !important;
}

.productPrice > label > del {
  color: #000;
}

@media (max-width: 992px) {
  .field {
    float: left;
    margin: 15px 15px 0 0;
  }
}

.searchPrice {
  background-color: white;
  height: 32px;
  border: 1px solid #d9d9d9;
  padding-top: 5px;
}

:global(.selectCategory) {
  display: inline-flex;
  padding: 1px;
  top: -13px;
}

:global(.selectCategory button) {
  margin-right: 3px;
}
