@import '../../variables.css';

:global(.ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_close::after) {
  -webkit-transform: rotate(270deg) scale(0.59);
  -ms-transform: rotate(270deg) scale(0.59);
  transform: rotate(-270deg) scale(0.59);
}
