@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

.searchFildes {
  flex: 1;
}

.avatar {
  display: flex;
}

.avatar div {
  cursor: pointer;
  margin-left: 3px;
}

.btnImageView {
  width: 100%;
  margin: 4px 0;
}

.btnImageView button {
  width: 100%;
}

:global(.orderItemTable) tr th {
  background-color: #8c8c8c;
}

.backgroundRow {
  background-color: #dbdbdb;
}

label {
  display: block;
}

.occasionModal :global(.ant-modal-body) {
  padding: 15px !important;
}

.helpingStatus {
  position: absolute;
  bottom: -38px;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e1e8ee;
  padding-right: 13px !important;
  padding-left: 13px !important;
  padding-top: 5px !important;
}

.helpingStatus > div {
  display: flex;
  margin-left: 15px;
}

.helpingStatus > div label:first-child {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  margin-top: 3px;
  margin-left: 2px;
}

.parentSearchBox {
  justify-content: center;
  display: flex;
}

:global(.advancedSearch) {
  margin-bottom: 45px;
}

:global(.orderDetails) {
  padding-top: 10px;
}

:global(.hide) {
  display: none;
  visibility: hidden;
}

:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;
}

:global(.overCountOrder) {
  color: red;
}

.paddingModal :global(.ant-modal-body) {
  padding: 5px !important;
}

.cellTable {
  font-size: 10px;
}

.cursor {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: inline;
}

.userName {
  background-color: #f5f5f5;
  opacity: 1;
  font-size: 13px !important;
  border-radius: 0 !important;
  color: #333 !important;
  border: 1px solid #d9d9d9;
  height: 32px;
  padding: 4px 11px;
  line-height: 1.5;
}

.userName a {
  color: #333 !important;
  font-size: 13px !important;
}

:global(.orderDetails .row) div {
  margin-bottom: 3px;
}

.btnSaveAddress {
  margin-left: 5px;
}

.fromApp img:first-child {
  margin-left: 5px;
}

:global(.searchDate) {
  display: flex;
  padding: 0;
}

:global(.searchDate) > div:last-child {
  margin-top: 22px;
}

.green {
  color: #00a65a !important;
}

.red {
  color: red !important;
}

.calendar :global(.ant-modal-close) {
  display: none;
}

.timePicker {
  width: 80px !important;
}

.changeStatus {
  color: #1a73e8;
}

.printButton {
  color: var(--green);
}

:global(.checkoutBox) > div {
  border: 1px solid #e6d8d8;
  background-color: #f5f5f5;
  padding: 6px 10px;
}

:global(.checkoutBox) div div{
  display: flex;
  justify-content: space-between;
  padding: 0 15x;
}
