@import '../../../../components/variables.css';

.mainContent {
  min-height: 700px;
  padding: 15px;
}

label {
  display: block;
}

.searchBox :global(.gutter-box) {
  margin-bottom: 5px;
}

.searchBox :global(.ant-btn-primary) {
  background-color: #00b45a;
  border-color: #00b45a;
}

.createRecord {
  height: 40px;
  margin-top: 15px;
  width: 40px;
  font-size: 30px;
  text-align: center;
}

.createRecord i {
  font-weight: 600;
  font-size: 16px;
}

.updateTime {
  margin-right: 7px;
  top: -6px;
}
