.cpDatepicker {
  background: #fff;
  display: flex;
}

.sidebar {
  width: 150px;
  background-color: var(--green);
  display: inline-block;
  padding: 17px;
}

.cpDatepickerContent {
  flex: 1;
  padding: 15px;
}

.monthName {
  margin: 15px 0;
  text-align: center;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}

.daysHeader {
  display: flex;
}

.daysHeader span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.emptyCell {
  flex: 1;
}

.weekend {
  color: red;
}

.header {
  display: flex;
}

:global(.fa-angle-left) {
  margin-top: 9px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

:global(.fa-angle-right) {
  margin-top: 9px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.event {
  border-top: 1px solid #dfdfdf;
  padding: 10px;
  height: 100px;
  overflow: auto;
}

.sidebarYear {
  color: #fff;
  font-size: 26px;
}

.sidebarWeekDay {
  color: #fff;
  font-size: 26px;
}

.sidebarDay {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.eventDay {
  width: 85px;
  display: inline-block;
  font-size: 12px;
  color: var(--green);
  padding: 0 10px;
}

.eventDescription {
  font-weight: bold;
  font-size: 12px;
}

.mobileDayName {
  display: none;
}

@media(max-width: 600px) {
  .cpDatepicker {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .mobileDayName {
    display: inline-block;
  }

  .fullDayName {
    display: none;
  }
}
