@import '../../variables.css';

.wrapp {
  display: flex;
  flex-wrap: wrap;
}

.colorSwitch {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  line-height: 15px;
  margin: 3px 0 3px 7px !important;
  text-align: center;
  user-select: none;
  position: relative;
  transition: transform 0.35s;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.colorSwitch:hover {
  z-index: 1;
  transform: scale(1.2);
}

.wrapp [type='checkbox']:checked + label::after {
  content: '\e937';
  color: #eee;
  font-family: CPicons;
}

:global(.ant-popover-inner-content) {
  padding: 6px 15px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}

.colorSwitch#1 {
  background-color: #f00;
}
