.drawer {
  position: fixed;
  left: -300px;
  z-index: 999999;
  background-color: #fff;
  min-height: 320px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-box-shadow: -2px -6px 19px #eee, 5px 5px 10px #eee;
  box-shadow: -2px -6px 19px #eee, 5px 5px 10px #eee;
  padding: 15px;
  min-width: 200px;
}

:global(.open-drawer) {
  left: 0 !important;
  animation-name: openDrawer;
  animation-duration: 1s;
}

:global(.close-drawer) {
  animation-name: closeDrawer;
  animation-duration: 1s;
}

@keyframes openDrawer {
  0% { left: -200px; }
  100% { left: 0; }
}

@keyframes closeDrawer {
  0% { left: 0; }
  100% { left: -200px; }
}

:global(.ant-select-dropdown) {
  z-index: 1000000;
}

:global(.ant-select-selection--multiple),
:global(.reportItem) {
  font-size: 11px !important;
}

.saveButton {
  margin-top: 15px;
}
