:global(.container) {
  width: 100%;
  padding-left: 15px;
}

:global(.container) > div {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: inset -1px -2px 20px #464646;
  -moz-box-shadow: inset -1px -2px 20px #464646;
  box-shadow: inset -1px -2px 20px #464646;
  padding: 15px;
}

:global(.container) > div > i {
  font-size: 47px;
  margin-right: 14px;
}

:global(.container) > div > label {
  margin-right: 14px;
  font-size: 11px;
  margin-top: 6px;
}

:global(.container) > div > div {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

:global(.container) > div > div > span:last-child {
  font-size: 14px;
}

:global(.container) > div > div > span:not(:last-child) {
  font-size: 20px;
  font-style: italic;
}

:global(.container) > div > div > span:not(:last-child):nth-last-child(3n+1):not(:first-child)::before {
  content: ',';
}
