
@import '../../../variables.css';

.root :global(.ant-tabs) {
  overflow: visible;
}

.textLeft {
  text-align: right;
  margin-right: 4px;
}

:global(.disabled)
{
  pointer-events: none !important;
  opacity: 0.5 !important;
  /*background: #ccc !important;*/
}

.areaInput {
  width: 100%;
}

.productCode {
  display: flex;
}

.productCodeSection1 {
  width: 25%;
}

.productCodeSection2 {
  width: 37%;
  margin-right: 4px;
  margin-left: 4px;
}
.productCodeSectionP {
  width: 13%;
  margin-right: 4px;
}

.notExistMessage {
  color: red;
}

.status {
  display: flex;
}

.status div {
  margin-left: 8px;
}

:global(.textArea) {
  min-height: 60px !important;
}
