@import '../../variables.css';

.colorSwitch {
  display: inline-block;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  padding: 5px;
  line-height: 15px;
  margin: 3px 0 3px 7px !important;
  text-align: center;
  user-select: none;
  position: relative;
  transition: transform 0.35s;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  cursor: pointer;
  overflow: hidden;
  direction: rtl;
}

.selectedStyle {
  background-color: #2f54eb;
  color: #fff !important;
}

.defaultStyle {
  background-color: #fff;
  color: #000;
}
