/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../../variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.root :global(.ant-tabs) {
  overflow: visible;
}
