/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../variables.css';

.ltr {
  direction: ltr;
  width: 100%;
  height: 32px;
  padding: 0 20px;
  border: 1px solid #d9d9d9;
}

.rtl {
  direction: rtl;
  width: 100%;
  height: 32px;
  padding: 0 20px;
  border: 1px solid #d9d9d9;

}

.Login-loginBox-119Na input {
  background: rgba(255, 255, 255, 0.19);
  border: 1px solid #fff !important;
  color: #fff !important;
  font-size: 14px !important;
}
