.avatarEditor {
  padding: 15px;
  background-color: #2a2b2c;
}

.avatarEditor > canvas {
  height: 330px !important;
  width: 95%;
}

.rotate,
.zoom {
  display: flex;
}

.rotate > span,
.zoom > span {
  color: #fff0f6;
  margin-top: 5px;
}

:global(.ant-slider-handle) {
  left: 4px;
}

:global(.ant-slider) {
  width: 100%;
}

.zoom > span {
  margin-left: 24px;
}

:global(.ant-modal-body) {
  padding: 0;
}

:global(.ant-modal-footer) {
  border: 0;
}

.buttons {
  display: flex;
  padding: 9px;
}

.buttons > :global(.clearfix) > button {
  background: #fff;
  font-size: 11px;
  width: 100%;
  padding: 9px;
}

:global(.clearfix),
.buttons > button {
  margin-left: 5px;
  font-size: 13px;
}

.buttons button:last-child {
  position: absolute;
  left: 4px;
}

:global(.ant-modal-close-x)::before {
  color: #3e3e3e;
}
