@import '../../variables.css';

.cardUpload {
  padding: 0 15px;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  min-height: 305px;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.upload {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px dashed #ccc;
  box-shadow: inset 0 0 85px #ececec;
}

@media (min-width: 580px) {
  .cardUpload {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .cardUpload {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .cardUpload {
    width: 25%;
  }
}

.upload .cover {
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.imageGallery :global(.cp-upload) {
  font-size: 40px;
  color: #ececec;
  margin-bottom: 10px;
  display: block;
}
