:global { @import '/css/mainFlag.css'; }

:global(.eventForm) {
  margin: 7px;
}

:global(.eventForm) > div {
  margin-top: 6px;
}

.comboBox > div,
.inputName {
  border: unset;
  border-bottom: 1px solid #d9d9d9;
  border-radius: unset;
}

.inputName {
  top: 1px !important;
}

.inputName:hover {
  border-bottom-color: #1890ff !important;
}

.month {
  margin-top: 21px;
}
